<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.train.mapper.TrainCommondMapper">
    
    <resultMap type="TrainCommond" id="TrainCommondResult">
        <result property="commondId"    column="commond_id"    />
        <result property="commondName"    column="commond_name"    />
        <result property="groupId"    column="group_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="citytrainId"    column="citytrain_id"    />
        <result property="normaltrainId"    column="normaltrain_id"    />
        <result property="citytrainName"    column="citytrain_name"    />
        <result property="normaltrainName"    column="normaltrain_name"    />
        <result property="commondContent"    column="commond_content"    />
    </resultMap>

    <sql id="selectTrainCommondVo">
        select commond_id, commond_name, group_id, start_time, end_time, citytrain_id, normaltrain_id, citytrain_name, normaltrain_name, commond_content from train_commond
    </sql>

    <select id="selectTrainCommondList" parameterType="TrainCommond" resultMap="TrainCommondResult">
        <include refid="selectTrainCommondVo"/>
        <where>  
            <if test="commondName != null  and commondName != ''"> and commond_name like concat('%', #{commondName}, '%')</if>
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="citytrainName != null  and citytrainName != ''"> and citytrain_name like concat('%', #{citytrainName}, '%')</if>
            <if test="normaltrainName != null  and normaltrainName != ''"> and normaltrain_name like concat('%', #{normaltrainName}, '%')</if>
            <if test="commondContent != null  and commondContent != ''"> and commond_content = #{commondContent}</if>
        </where>
    </select>
    
    <select id="selectTrainCommondByCommondId" parameterType="Long" resultMap="TrainCommondResult">
        <include refid="selectTrainCommondVo"/>
        where commond_id = #{commondId}
    </select>
        
    <insert id="insertTrainCommond" parameterType="TrainCommond">
        insert into train_commond
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commondId != null">commond_id,</if>
            <if test="commondName != null and commondName != ''">commond_name,</if>
            <if test="groupId != null">group_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="citytrainId != null">citytrain_id,</if>
            <if test="normaltrainId != null">normaltrain_id,</if>
            <if test="citytrainName != null">citytrain_name,</if>
            <if test="normaltrainName != null">normaltrain_name,</if>
            <if test="commondContent != null and commondContent != ''">commond_content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commondId != null">#{commondId},</if>
            <if test="commondName != null and commondName != ''">#{commondName},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="citytrainId != null">#{citytrainId},</if>
            <if test="normaltrainId != null">#{normaltrainId},</if>
            <if test="citytrainName != null">#{citytrainName},</if>
            <if test="normaltrainName != null">#{normaltrainName},</if>
            <if test="commondContent != null and commondContent != ''">#{commondContent},</if>
         </trim>
    </insert>

    <update id="updateTrainCommond" parameterType="TrainCommond">
        update train_commond
        <trim prefix="SET" suffixOverrides=",">
            <if test="commondName != null and commondName != ''">commond_name = #{commondName},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="citytrainId != null">citytrain_id = #{citytrainId},</if>
            <if test="normaltrainId != null">normaltrain_id = #{normaltrainId},</if>
            <if test="citytrainName != null">citytrain_name = #{citytrainName},</if>
            <if test="normaltrainName != null">normaltrain_name = #{normaltrainName},</if>
            <if test="commondContent != null and commondContent != ''">commond_content = #{commondContent},</if>
        </trim>
        where commond_id = #{commondId}
    </update>

    <delete id="deleteTrainCommondByCommondId" parameterType="Long">
        delete from train_commond where commond_id = #{commondId}
    </delete>

    <delete id="deleteTrainCommondByCommondIds" parameterType="String">
        delete from train_commond where commond_id in 
        <foreach item="commondId" collection="array" open="(" separator="," close=")">
            #{commondId}
        </foreach>
    </delete>
</mapper>