<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.train.mapper.TrainCommondMapper">
    
    <resultMap type="TrainCommond" id="TrainCommondResult">
        <result property="commondId"    column="commond_id"    />
        <result property="commondName"    column="commond_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="commondType" column="commond_type" />
        <result property="trainType" column="train_type"/>
        <result property="commondAffectTrainId" column="commond_affect_train_id"/>
        <result property="commondAffectTrainName" column="commond_affect_train_name"/>
        <result property="commondContent"    column="commond_content"    />
        <result property="commondUser"    column="commond_user"    />
        <result property="isWeekStop" column="is_weekstop"/>
        <result property="stopWeek" column="stop_week"/>
        <result property="stopDays" column="stop_days"/>
        <result property="shiftDay" column="shift_day"/>
        <result property="trainStartDay" column="train_startday"/>
        <result property="trainStopDay" column="train_stopday"/>
    </resultMap>

    <sql id="selectTrainCommondVo">
        select commond_id, commond_name, start_time, end_time, commond_type, train_type, commond_affect_train_id, commond_affect_train_name, commond_content, commond_user, is_weekstop, stop_week, stop_days, shift_day, train_startday, train_stopday from train_commond
    </sql>

    <select id="selectTrainCommondList" parameterType="TrainCommond" resultMap="TrainCommondResult">
        <include refid="selectTrainCommondVo"/>
        <where>  
            <if test="commondName != null  and commondName != ''"> and commond_name like concat('%', #{commondName}, '%')</if>
<!--            <if test="groupId != null "> and group_id = #{groupId}</if>-->
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
<!--            <if test="citytrainName != null  and citytrainName != ''"> and citytrain_name like concat('%', #{citytrainName}, '%')</if>-->
<!--            <if test="normaltrainName != null  and normaltrainName != ''"> and normaltrain_name like concat('%', #{normaltrainName}, '%')</if>-->
            <if test="commondContent != null  and commondContent != ''"> and commond_content = #{commondContent}</if>
        </where>
    </select>
    
    <select id="selectTrainCommondByCommondId" parameterType="Long" resultMap="TrainCommondResult">
        <include refid="selectTrainCommondVo"/>
        where commond_id = #{commondId}
    </select>
        
    <insert id="insertTrainCommond" parameterType="TrainCommond">
        insert into train_commond
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commondId != null">commond_id,</if>
            <if test="commondName != null and commondName != ''">commond_name = #{commondName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="commondType != null">commond_type = #{commondType}</if>
            <if test="trainType != null">train_type = #{trainType}</if>
            <if test="commondAffectTrainId != null">commond_affect_train_id = #{commondAffectTrainId},</if>
            <if test="commondAffectTrainName != null">commond_affect_train_name = #{commondAffectTrainName},</if>
            <if test="commondContent != null and commondContent != ''">commond_content = #{commondContent},</if>
            <if test="commondUser != null and commondUser != ''">commond_user = #{commondUser},</if>
            <if test="isWeekStop != null">is_weekstop = #{isWeekStop},</if>
            <if test="stopWeek != null">stop_week = #{stopWeek},</if>
            <if test="stopDays != null">stop_days = #{stopDays},</if>
            <if test="shiftDay != null">shift_day = #{shiftDay},</if>
            <if test="trainStartday != null">train_startday = #{trainStartday},</if>
            <if test="trainStopday != null">train_stopday = #{trainStopday},</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commondName != null and commondName != ''">commond_name = #{commondName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="commondType != null">commond_type = #{commondType}</if>
            <if test="trainType != null">train_type = #{trainType}</if>
            <if test="commondAffectTrainId != null">commond_affect_train_id = #{commondAffectTrainId},</if>
            <if test="commondAffectTrainName != null">commond_affect_train_name = #{commondAffectTrainName},</if>
            <if test="commondContent != null and commondContent != ''">commond_content = #{commondContent},</if>
            <if test="commondUser != null and commondUser != ''">commond_user = #{commondUser},</if>
            <if test="isWeekStop != null">is_weekstop = #{isWeekStop},</if>
            <if test="stopWeek != null">stop_week = #{stopWeek},</if>
            <if test="stopDays != null">stop_days = #{stopDays},</if>
            <if test="shiftDay != null">shift_day = #{shiftDay},</if>
            <if test="trainStartday != null">train_startday = #{trainStartday},</if>
            <if test="trainStopday != null">train_stopday = #{trainStopday},</if>
         </trim>
    </insert>

    <update id="updateTrainCommond" parameterType="TrainCommond">
        update train_commond
        <trim prefix="SET" suffixOverrides=",">
            <if test="commondName != null and commondName != ''">commond_name = #{commondName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="commondType != null">commond_type = #{commondType}</if>
            <if test="trainType != null">train_type = #{trainType}</if>
            <if test="commondAffectTrainId != null">commond_affect_train_id = #{commondAffectTrainId},</if>
            <if test="commondAffectTrainName != null">commond_affect_train_name = #{commondAffectTrainName},</if>
            <if test="commondContent != null and commondContent != ''">commond_content = #{commondContent},</if>
            <if test="commondUser != null and commondUser != ''">commond_user = #{commondUser},</if>
            <if test="isWeekStop != null">is_weekstop = #{isWeekStop},</if>
            <if test="stopWeek != null">stop_week = #{stopWeek},</if>
            <if test="stopDays != null">stop_days = #{stopDays},</if>
            <if test="shiftDay != null">shift_day = #{shiftDay},</if>
            <if test="trainStartday != null">train_startday = #{trainStartday},</if>
            <if test="trainStopday != null">train_stopday = #{trainStopday},</if>
        </trim>
        where commond_id = #{commondId}
    </update>

    <delete id="deleteTrainCommondByCommondId" parameterType="Long">
        delete from train_commond where commond_id = #{commondId}
    </delete>

    <delete id="deleteTrainCommondByCommondIds" parameterType="String">
        delete from train_commond where commond_id in 
        <foreach item="commondId" collection="array" open="(" separator="," close=")">
            #{commondId}
        </foreach>
    </delete>
</mapper>